<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OctopusAgileNotification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <OctopusAgileNotification.Properties.Settings>
            <setting name="OctopusBaseURL" serializeAs="String">
                <value>https://api.octopus.energy/v1/products/</value>
            </setting>
            <setting name="ProductCode" serializeAs="String">
                <value>AGILE-18-02-21</value>
            </setting>
            <setting name="TariffCode" serializeAs="String">
                <value>E-1R-AGILE-18-02-21-C</value>
            </setting>
        </OctopusAgileNotification.Properties.Settings>
    </userSettings>
</configuration>